@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Playwrite+VN:wght@100..400&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Playwrite+VN:wght@100..400&family=Prata&display=swap');
    
body{
    margin:0%;
    background-color: rgb(63, 90, 76, 1);
    font-family: "montserrat", serif;
    
}
.main_selection{
    padding:20px
}
.image-container{
    height: 1000px;
    background-image:url(https://livorno.guidatoscana.it/obj/image/a/x/17eb0e22-a5f5-4ed8-b685-ec4bf899761.jpeg.webp); 
}
h1{
    font-family: "prata", serif; 
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 0;
}
h3{
     font-family: "prata", serif;
     font-size: 24px;
     font-weight: 400;
     margin: 0%;
     margin-bottom: 0;
}
a{ display: block;
    margin-bottom: 10px;
    font-weight: 600;
    font-style: italic;
    color: rgb(218, 154, 122, 1);
}
h6{
    padding: 26px;
    margin-bottom: 0px;
    margin-top: 57px;
    color: white;
    border-radius:6px ;
    background: linear-gradient(120deg, rgb(88, 116, 156, 1) , rgb(157, 150, 125, 1));
}



#lista{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    border: 1px; 
    border-color: #dfdfdf;
    color: rgb(176, 210, 238, 1);
    padding: 40;
    list-style: none;
    text-decoration: none;
}
footer{
    background-color: black;
    color: white;
}
.homepage{
    text-align: center;
}